body{
    background: #7b5959;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: rgb(100, 199, 13)
}

img{
    width:50%;
    display:block;
    margin: 10px auto;
    padding: 20px;
    background: maroon;
    border: 3px solid black;
    border-radius: 10px;
}
h1{text-align: center;}
h1, h2{color:#75111f;}
ul{
    list-style-type: georgian;
}
ol{
    list-style-type:armenian;
}
dt{
    color: green;
    font-weight: bold;
}
dd{
    color: red;
    font-style: italic;
}
figure{
    color:aqua
}