body{
    background-color: rgb(110, 114, 117);
}
iframe{
    width: 90%;
    height: 500px;
    border: none;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    padding: 10PX;
}
h1{
    text-align: center;
    font-size: larger;
    color: maroon;
    margin-top: 50px;
}
h2{
    text-align: center;
    font-size: large;
    color: maroon;
    margin-top: 50px;
}
nav{
    text-align: center;
    font-size: x-large;
}
nav a{
    text-decoration: none;
    color: black;
    background: maroon;
    padding: 5px 10PX;
    border-radius: 10PX;
    border: 2PX solid black;
}