/* chat link turned in for writing assignment https://chat.openai.com/share/9b1d979a-eb0d-4a15-bb83-a2b1610c372d */

body{
    background-color: rgb(32, 29, 30);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    font-size: large;
}

h1{
    color: rgb(8, 221, 68);
    font-weight: 700;
    text-align: center;
}
h2{
    color:rgb(8, 221, 68);
    font-weight: bold;
    text-align: center;
    padding: 40px;
}
p{
    text-align: left;
    color: rgb(139, 3, 250);
    padding: 10px;
    line-height: 2;
}
nav{
    text-align: center;
    font-size: x-large;
}

nav a{
    text-decoration: none;
    margin-left: 20px;
    background: rgb(32, 29, 30);
    padding: 5px 10px;
    color: rgb(139, 3, 250);
    border-radius: 10px;
    border: 2px solid rgb(32, 29, 30)
}

nav a:hover{
    background-color: rgb(8, 221, 68);
    color: rgb(32, 29, 30);
}

footer{
    text-align: center;
    color:rgb(8, 221, 68)
}
img{
    width: 20%;
    height: auto;
    border-radius: 5px;
    border: 2px SOLID rgb(8, 221, 68);
}
li{
    color: rgb(8, 221, 68);
}
figcaption{
    text-align: center;
    color: rgb(139, 3, 250);
    padding: 10px;
}
#basic img{
    display: block;
    margin: auto;
    text-align: center;
}
